@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

video,
img {
  max-width: 100%; }

.header {
  background-color: #303030;
  padding: 1em 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 600; }
  .header__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .header__container {
        width: 87%;
        height: 3em;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (min-width: 1200px) {
      .header__container {
        width: 1110px; } }
  .header__icons-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu-icon {
    fill: #d9cca0;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      .header__menu-icon {
        display: none; } }
  .header__logo-container {
    margin: 0;
    padding: 0;
    width: 10em; }
  .header__logo {
    cursor: pointer; }
  .header__opt-lenguage {
    color: #d9cca0;
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 300;
    cursor: pointer;
    transition: all 200ms ease-in; }
    .header__opt-lenguage:hover {
      color: #F5F4ED; }
    @media screen and (min-width: 1024px) {
      .header__opt-lenguage {
        display: none; } }

@media screen and (max-width: 1023px) {
  .main-menu {
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all 350ms ease-in; }
    .main-menu.show-menu {
      max-height: 27rem; } }

.main-menu__list, .main-menu__social-list {
  list-style: none;
  margin: 0;
  padding: 1em 0; }
  @media screen and (min-width: 1024px) {
    .main-menu__list, .main-menu__social-list {
      margin: 1em 0; } }

@media screen and (min-width: 1024px) {
  .main-menu__list {
    padding: .5em 0; } }

.main-menu__item {
  margin: 2em 0; }
  @media screen and (min-width: 1024px) {
    .main-menu__item {
      display: inline-block;
      margin-left: 3em; } }

.main-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  color: #F5F4ED;
  font-size: 1.1em;
  line-height: 2;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .main-menu__link {
      font-size: 1em; } }
  .main-menu__link:before {
    content: " ";
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: #d9cca0;
    position: absolute;
    top: -.6em;
    right: 0;
    transition: all 250ms ease-in; }
  .main-menu__link:after {
    content: " ";
    display: inline-block;
    width: 0;
    height: 1px;
    background-color: #d9cca0;
    position: absolute;
    bottom: -.6em;
    left: 0;
    transition: all 250ms ease-in; }
  .main-menu__link:hover:before {
    width: 100%; }
  .main-menu__link:hover:after {
    width: 100%; }

@media screen and (max-width: 1023px) {
  .main-menu__link-lenguage {
    display: none; } }

@media screen and (min-width: 1024px) {
  .main-menu__link-lenguage {
    color: #d9cca0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    top: .1em;
    transition: all 200ms ease-in; }
    .main-menu__link-lenguage:hover {
      color: #F5F4ED; } }

.main-menu__social-list {
  padding: 0 0 2em; }
  @media screen and (min-width: 1024px) {
    .main-menu__social-list {
      display: none; } }

.main-menu__social-item {
  display: inline-block; }

.main-menu__social-icon {
  fill: #d9cca0;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  transition: all 200ms ease-in; }
  .main-menu__social-icon:hover {
    fill: #F5F4ED; }
  @media screen and (min-width: 1024px) {
    .main-menu__social-icon {
      width: 2em;
      height: 2em; } }

.main-menu__social-icon-style {
  margin-right: 3em; }
  @media screen and (min-width: 1024px) {
    .main-menu__social-icon-style {
      margin-right: 2em; } }

.landing {
  margin-top: 5em;
  padding: 2em 0;
  position: relative;
  background: url(../assets/landing-small.jpg) 50% 50%/cover no-repeat; }
  @media screen and (min-width: 768px) {
    .landing {
      background: url(../assets/landing-big.jpg) 50% 50%/cover no-repeat; } }
  @media screen and (min-width: 1024px) {
    .landing {
      background: none; } }
  .landing__container {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .landing__container {
        width: 87%; } }
    @media screen and (min-width: 1200px) {
      .landing__container {
        width: 1110px; } }
  @media screen and (max-width: 1023px) {
    .landing__video {
      display: none; } }
  @media screen and (min-width: 1024px) {
    .landing__video {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -100;
      min-width: 100%;
      min-height: 100%; } }
  .landing__copy-container {
    padding: 1em 0 5em; }
    @media screen and (min-width: 480px) {
      .landing__copy-container {
        padding: 4em 2em 12em; } }
    @media screen and (min-width: 1024px) {
      .landing__copy-container {
        width: 55%;
        margin: 0 auto; } }
    @media screen and (min-width: 1200px) {
      .landing__copy-container {
        padding: 6em 2em 14em; } }
  .landing__copy-title {
    color: #F5F4ED;
    font-weight: 400;
    font-size: 2.7em;
    line-height: 1.4;
    margin-top: 0;
    text-shadow: 0.5px 1px 3px rgba(48, 48, 48, 0.4); }
    @media screen and (min-width: 1200px) {
      .landing__copy-title {
        font-size: 3.5em; } }
  .landing__copy-title-style {
    font-size: 3.5rem;
    font-weight: 500; }
  .landing__copy-button {
    display: block;
    line-height: 3.2;
    text-decoration: none;
    text-transform: uppercase;
    color: #F5F4ED;
    font-weight: 400;
    font-size: 1.2rem;
    border: 1px solid #F5F4ED;
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 250ms ease-in; }
    .landing__copy-button:hover {
      background-color: transparent; }
    @media screen and (min-width: 640px) {
      .landing__copy-button {
        display: inline-block;
        padding: 0 2em; } }
  .landing__book {
    background-color: #303030;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1.5em 0; }
  .landing__btn-book {
    display: inline-block;
    line-height: 3;
    color: #d9cca0;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #d9cca0;
    padding: 0 1.5em;
    transition: all 250ms ease-in; }
    .landing__btn-book:hover {
      transform: scale(0.95); }

.menu {
  padding: 3em 0 4em;
  background-color: #F1EBDA; }
  @media screen and (min-width: 1200px) {
    .menu {
      padding: 5em 0 6em; } }
  .menu__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .menu__container {
        width: 87%; } }
    @media screen and (min-width: 1200px) {
      .menu__container {
        width: 1110px; } }
  .menu__header {
    text-align: center;
    border-bottom: 2px solid #303030; }
  .menu__header-icon {
    fill: #d9cca0;
    width: 3em;
    height: 3em; }
  .menu__header-title {
    margin-top: 0;
    color: #303030;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 1.4; }
    @media screen and (min-width: 1024px) {
      .menu__header-title {
        font-size: 1.6em; } }
  .menu__copy-container {
    padding-top: 2em;
    text-align: center;
    margin-bottom: 4em; }
  .menu__copy {
    color: #303030;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .menu__copy {
        font-size: 1.2em;
        line-height: 1.8; } }
  @media screen and (min-width: 768px) {
    .menu__items-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .menu__item {
    width: 100%;
    height: 394px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .menu__item:hover .menu__item-icon {
      fill: #d9cca0; }
    .menu__item:hover .menu__item-title {
      color: #d9cca0;
      border-top: 3px solid #d9cca0;
      border-bottom: 3px solid #d9cca0; }
    @media screen and (min-width: 768px) {
      .menu__item {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      .menu__item {
        width: 33%; } }
  .menu__item-saucer {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/saucer.jpg) 50% 50%/cover no-repeat; }
    .menu__item-saucer:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/saucer.jpg) 50% 50%/cover no-repeat; }
  .menu__item-salad {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/salad.jpg) 50% 50%/cover no-repeat; }
    .menu__item-salad:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/salad.jpg) 50% 50%/cover no-repeat; }
  .menu__item-soup {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/soup.jpg) 50% 50%/cover no-repeat; }
    .menu__item-soup:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/soup.jpg) 50% 50%/cover no-repeat; }
  .menu__item-pasta {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/pasta.jpg) 50% 50%/cover no-repeat; }
    .menu__item-pasta:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/pasta.jpg) 50% 50%/cover no-repeat; }
  .menu__item-dessert {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/dessert.jpg) 50% 50%/cover no-repeat; }
    .menu__item-dessert:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/dessert.jpg) 50% 50%/cover no-repeat; }
  .menu__item-appetizer {
    background: linear-gradient(rgba(217, 204, 160, 0.45), rgba(217, 204, 160, 0.45)), url(../assets/appetizer.jpg) 50% 50%/cover no-repeat; }
    .menu__item-appetizer:hover {
      background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(48, 48, 48, 0.5)), url(../assets/appetizer.jpg) 50% 50%/cover no-repeat; }
  .menu__item-title-container {
    text-align: center; }
  .menu__item-icon {
    width: 3em;
    height: 3em;
    fill: #303030;
    transition: all 150ms ease-in; }
  .menu__item-title {
    color: #303030;
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: 400;
    margin: 0;
    padding: .3em 0;
    border-top: 3px solid #303030;
    border-bottom: 3px solid #303030;
    transition: all 150ms ease-in; }

.salad {
  padding: 4em 0; }
  @media screen and (min-width: 1024px) {
    .salad {
      padding: 6em 0; } }
  .salad__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .salad__container {
        width: 87%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (min-width: 1200px) {
      .salad__container {
        width: 1110px; } }
  .salad__img-container {
    margin: 0;
    padding: 0;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .salad__img-container {
        width: 50%;
        -ms-flex-order: 1;
        order: 1; } }
  @media screen and (min-width: 1024px) {
    .salad__elements-container {
      width: 50%;
      padding: 0 3em; } }
  .salad__copy-header {
    margin-top: 2em;
    text-align: center;
    border-bottom: 2px solid #303030; }
    @media screen and (min-width: 1024px) {
      .salad__copy-header {
        margin: 0; } }
  .salad__copy-icon {
    fill: #d9cca0;
    width: 3em;
    height: 3em; }
  .salad__copy-title {
    margin-top: 0;
    color: #303030;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 1.4; }
    @media screen and (min-width: 1024px) {
      .salad__copy-title {
        font-size: 1.6em; } }
  .salad__copy-container {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em; }
    @media screen and (min-width: 1024px) {
      .salad__copy-container {
        padding-top: 0;
        margin: 0; } }
  .salad__copy {
    color: #303030;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .salad__copy {
        font-size: 1.2em;
        line-height: 1.8; } }
  .salad__copy-button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #303030;
    font-size: 1.2em;
    display: inline-block;
    line-height: 3.5;
    padding: 0 2em;
    border: 2px solid #303030;
    margin-top: 2em;
    transition: all 250ms ease-in; }
    .salad__copy-button:hover {
      transform: scale(0.95); }
    @media screen and (min-width: 1024px) {
      .salad__copy-button {
        margin-top: .5em;
        font-size: 1em;
        line-height: 3; } }

.family {
  background-color: rgba(245, 244, 237, 0.4);
  padding: 2em 0; }
  .family__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .family__container {
        width: 87%; } }
    @media screen and (min-width: 1200px) {
      .family__container {
        width: 1110px; } }
  .family__header {
    margin-top: 2em;
    text-align: center;
    border-bottom: 2px solid #303030; }
  .family__header-icon {
    fill: #d9cca0;
    width: 3em;
    height: 3em; }
  .family__header-title {
    margin-top: 0;
    color: #303030;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 1.4; }
    @media screen and (min-width: 1024px) {
      .family__header-title {
        font-size: 1.6em; } }
  .family__copy-container {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em; }
    @media screen and (min-width: 768px) {
      .family__copy-container {
        margin-bottom: 5em; } }
    @media screen and (min-width: 1024px) {
      .family__copy-container {
        padding-top: 0; } }
  .family__copy {
    color: #303030;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.6; }
    @media screen and (min-width: 1024px) {
      .family__copy {
        font-size: 1.2em;
        line-height: 1.8; } }
  @media screen and (min-width: 768px) {
    .family__items-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media screen and (min-width: 1200px) {
    .family__items-container {
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .family__item {
    text-align: center;
    margin-bottom: 2em;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 2px 1px rgba(204, 204, 204, 0.3); }
    @media screen and (min-width: 768px) {
      .family__item {
        width: 48%;
        margin-bottom: 3em; } }
    @media screen and (min-width: 1200px) {
      .family__item {
        width: 40%; } }
  .family__item-body {
    padding: 2em 1.5em .5em; }
  .family__item-logo-container {
    margin: 0;
    padding: 0; }
  .family__item-address, .family__item-phone {
    font-weight: 300; }
  .family__item-address {
    line-height: 1.5;
    color: #303030;
    font-size: 1.1em;
    border-bottom: 1px solid #d9cca0;
    padding-bottom: 1em; }
  .family__item-phone {
    padding-top: .5em;
    color: #69410F;
    font-size: 1.2em;
    letter-spacing: 3px; }
  .family__item-btn-container {
    background-color: #303030;
    padding: 1.1em  0; }
  .family__item-btn {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #d9cca0;
    line-height: 2;
    font-size: 1.2em;
    position: relative; }
    .family__item-btn:before {
      content: " ";
      width: 0%;
      height: 1px;
      background-color: #d9cca0;
      position: absolute;
      top: -.1em;
      left: .5em;
      transition: all 250ms ease-in; }
    .family__item-btn:after {
      content: " ";
      width: 0;
      height: 1px;
      background-color: #d9cca0;
      position: absolute;
      bottom: -.1em;
      right: .5em;
      transition: all 250ms ease-in; }
    .family__item-btn:hover:before {
      width: 90%; }
    .family__item-btn:hover:after {
      width: 90%; }

.contact {
  padding: 3em 0;
  background-color: #F5F4ED;
  text-align: center; }
  .contact__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .contact__container {
        width: 87%; } }
    @media screen and (min-width: 1200px) {
      .contact__container {
        width: 1110px; } }
  .contact__info {
    padding: 1em 0;
    margin-bottom: 1.5em; }
    @media screen and (min-width: 640px) {
      .contact__info {
        margin-bottom: 4em; } }
  .contact__header {
    border-bottom: 2px solid #d9cca0;
    margin-bottom: 2em; }
  .contact__header-title {
    text-transform: uppercase;
    color: #303030;
    font-weight: 500; }
  .contact__address, .contact__item-schedule, .contact__book-copy {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.5;
    color: #303030; }
  .contact__list-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media screen and (min-width: 1200px) {
      .contact__list-container {
        width: 45%;
        margin: 0 auto;
        text-align: left; } }
  .contact__list-schedule {
    list-style: none;
    margin: 0;
    padding: 0; }
  .contact__item-schedule {
    line-height: 2; }
  .contact__book {
    margin-top: 4em; }
  .contact__book-copy {
    font-weight: 400; }
  .contact__book-link {
    font-weight: 500;
    color: #303030;
    text-decoration: none;
    position: relative;
    display: inline-block;
    cursor: pointer; }
    .contact__book-link:before {
      content: " ";
      width: 100%;
      height: 2px;
      background-color: #303030;
      position: absolute;
      bottom: -.1em;
      left: 0; }

.footer {
  background-color: #E5E3D6;
  padding: 1.5em 0;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .footer {
      padding: .5em 0; } }
  .footer__container {
    width: 90%;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) {
      .footer__container {
        width: 87%; } }
    @media screen and (min-width: 1200px) {
      .footer__container {
        width: 1110px; } }
  .footer__title-social {
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase; }
    @media screen and (min-width: 1024px) {
      .footer__title-social {
        font-size: 1em; } }
  .footer__social-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer__social-item {
    display: inline-block; }
  .footer__social-icon {
    width: 3em;
    height: 3em;
    fill: #69410F;
    transition: all 250ms ease-in; }
    .footer__social-icon:hover {
      fill: #303030; }
    @media screen and (min-width: 1024px) {
      .footer__social-icon {
        width: 2em;
        height: 2em; } }
  .footer__social-icon-style {
    margin-right: 3em; }
    @media screen and (min-width: 1024px) {
      .footer__social-icon-style {
        margin-right: 1.5em; } }
  .footer__copyright {
    margin-top: 2em;
    font-weight: 400;
    color: #303030;
    line-height: 1.6;
    font-size: .9em; }
    @media screen and (min-width: 1024px) {
      .footer__copyright {
        margin-top: 1em; } }
