.footer {
	background-color: $color5;
	padding: 1.5em 0;
	text-align: center;

	@media screen and (min-width: 1024px) {
		padding: .5em 0;
	}

	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
			width: 87%;
		}

		@media screen and (min-width: 1200px) {
            width: 1110px; 
        }
	}
	&__title-social {
		font-weight: $normal;
		font-size: 1.1em;
		text-transform: uppercase;

		@media screen and (min-width: 1024px) {
			font-size: 1em;
		}
	}
	&__social-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__social-item {
		display: inline-block;
	}
	&__social-icon {
		width: 3em;
		height: 3em;
		fill: $color6;
		transition: all 250ms ease-in;
		&:hover {
			fill: $color2;
		}

		@media screen and (min-width: 1024px) {
			width: 2em;
			height: 2em;
		}
	}
	&__social-icon-style {
		margin-right: 3em;

		@media screen and (min-width: 1024px) {
			margin-right: 1.5em;
		}
	}
	&__copyright {
		margin-top: 2em;
		font-weight: $normal;
		color: $color2;
		line-height: 1.6;
		font-size: .9em;

		@media screen and (min-width: 1024px) {
			margin-top: 1em;
		}
	}
}