.menu {
	padding: 3em 0 4em;
	background-color: $color3;

	&__container {
		width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1024px) {
			width: 87%;
		}
	}
	//header styles
	&__header {
		text-align: center;
		border-bottom: 2px solid $color2;
	}
	&__header-icon {
		fill: $color1;
		width: 3em;
		height: 3em;
	}
	&__header-title {
		margin-top: 0;
		color: $color2;
		font-weight: $normal;
		font-size: 1.9em;
		line-height: 1.4;
	}
	//copy styles
	&__copy-container {
		padding-top: 2em;
		text-align: center;
		margin-bottom: 4em;
	}
	&__copy {
		color: $color2;
		font-weight: $light;
		font-size: 1.4em;
		line-height: 1.6;
	}
	//items styles
	&__items-container {

		@media screen and (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}
	}
	//items bg
	&__item {
		width: 100%;
		height: 610px;

		display: flex;
		justify-content: center;
		align-items: center;

		cursor: pointer;

		&:hover .menu__item-icon {
			fill: $color1;
		}
		&:hover .menu__item-title {
			color: $color1;
			border-top: 3px solid $color1;
			border-bottom: 3px solid $color1;
		}

		@media screen and (min-width: 768px) {
			width: 50%;
		}
	}
	&__item-saucer {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/saucer.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/saucer.jpg) 50% 50% / cover no-repeat;
		}
	}
	&__item-salad {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/salad.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/salad.jpg) 50% 50% / cover no-repeat;
		}		
	}
	&__item-soup {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/soup.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/soup.jpg) 50% 50% / cover no-repeat;
		}		
	}
	&__item-pasta {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/pasta.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/pasta.jpg) 50% 50% / cover no-repeat;
		}		
	}
	&__item-dessert {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/dessert.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/dessert.jpg) 50% 50% / cover no-repeat;
		}		
	}
	&__item-appetizer {
		background: 
			linear-gradient( rgba(217, 204, 160, 0.45), rgba(217,204, 160, 0.45) ),
		    url(../assets/appetizer.jpg) 50% 50% / cover no-repeat;
		&:hover {
			background: 
			    linear-gradient( rgba(48, 48, 48, 0.45), rgba(48,48, 48, 0.45) ),
		        url(../assets/appetizer.jpg) 50% 50% / cover no-repeat;
		}		
	}
	//icons inside the items
	&__item-title-container {
		text-align: center;
	}
	&__item-icon {
		width: 3em;
		height: 3em;
		fill: $color2;
		transition: all 150ms ease-in;
	}
	&__item-title {
		color: $color2;
		text-transform: uppercase;
		font-size: 2.2em;
		font-weight: $normal;
		margin: 0;
		padding: .3em 0;
		border-top: 3px solid $color2;
		border-bottom: 3px solid $color2;
		transition: all 150ms ease-in;
	}
}